.app {
  .container {
    max-width: 1100px;
    margin: 50px auto;
    width: 90%;
  }
  .start {
    display: flex;
    justify-content: space-between;
    .player-cont {
      input {
        padding: 20px;
        font-size: 1.3rem;
        text-align: center;
        font-weight: bold;
        border: none;
        background: #000;
        color: #fff;
      }
      .actv-plr {
        background: rgb(3, 194, 3);
      }
    }
    .switch {
      border-radius: 50px;
      display: block;
      padding: 0 50px;
      border: none;
      background: rgb(238, 156, 3);
      font-weight: bold;
      cursor: pointer;
      color: #fff;
    }
    .off {
      background: red;
      color: #fff;
    }
    .blue {
      background: rgb(0, 132, 255);
      color: #fff;
    }
  }
  .main {
    margin: 200px 0;
    display: flex;
    justify-content: space-between;
    .timer {
      text-align: center;
      h6 {
        color: #fff;
        font-size: 0.8rem !important;
      }
      .sec {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80px;
        width: 80px;
        border-radius: 50px;
        margin-bottom: 10px;
        font-size: 1.7rem;
        font-weight: bold;
        background: #000;
        color: #fff;
      }
      .actv {
        background: rgb(3, 194, 3);
      }
    }
    .board {
      display: flex;
      flex-wrap: wrap;
      width: 300px;
      border-top: 1px solid #fff;
      border-left: 1px solid #fff;
      background-color: #000;
      .ele {
        width: 33.3%;
        border-right: 1px solid #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0px 0;
        height: 90px;
        border-bottom: 1px solid #fff;
        cursor: pointer;
        .val {
          font-weight: bold;
          font-size: 1.5rem;
          color: #fff;
        }
      }
    }
  }
  .announce {
    font-size: 2rem;
    text-align: center;
    color: #fff;
  }
}

@media (max-width: 900px) {
  .app {
    .start {
      flex-wrap: wrap;
      .player-cont {
        input {
          padding: 15px 0px;
          width: 250px;
        }
      }
      .switch {
        order: -1;
        width: 100%;
        margin-bottom: 40px;
        padding: 15px 0;
      }
    }
    .main {
      margin: 40px 0;
    }
  }
}

@media (max-width: 600px) {
  .app {
    .container {
      margin: 20px auto;
    }
    .start {
      .player-cont {
        input {
          padding: 15px 0px;
          width: 140px;
          font-size: 1rem;
        }
      }
    }
    .main {
      flex-wrap: wrap;
      .t1 {
        order: 1;
      }
      .t2 {
        order: 2;
      }
      .board {
        width: 100%;
        margin: 20px 0;
      }
      .timer {
        .sec {
          font-size: 1rem;
        }
      }
    }
  }
}
